{
  "*.{ts,tsx,js,jsx}": [
    "biome check --write --no-errors-on-unmatched",
    "eslint --fix"
  ],
  "*.{json,md,css,html}": [
    "biome format --write",
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "prettier --write"
  ]
}